<!-- Header Start -->
<header class="header">
    <!-- Top Banner -->
    <div class="header__top-banner">
        <div class="container d-flex">
            <span class="w-max d-flex align-items-center gap-2 m-x-auto">
                <svg width="5" height="10" viewBox="0 0 5 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.61059 1.139C4.80992 1.33833 4.80992 1.66151 4.61059 1.86084L1.47151 4.99992L4.61059 8.139C4.80992 8.33833 4.80992 8.66151 4.61059 8.86084C4.41126 9.06017 4.08809 9.06017 3.88876 8.86084L0.388755 5.36084C0.189425 5.16151 0.189425 4.83833 0.388755 4.639L3.88876 1.139C4.08809 0.939669 4.41126 0.939669 4.61059 1.139Z" fill="white" fill-opacity="0.8"/>
                </svg>                
                <p>🎉 Free Shipping on orders over $250. Don't miss a discount! </p>
                <svg width="5" height="10" viewBox="0 0 5 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.388755 1.139C0.588086 0.939669 0.911263 0.939669 1.11059 1.139L4.61059 4.639C4.80992 4.83833 4.80992 5.16151 4.61059 5.36084L1.11059 8.86084C0.911263 9.06017 0.588086 9.06017 0.388755 8.86084C0.189425 8.66151 0.189425 8.33833 0.388755 8.139L3.52784 4.99992L0.388755 1.86084C0.189425 1.66151 0.189425 1.33833 0.388755 1.139Z" fill="white" fill-opacity="0.8"/>
                </svg>            
            </span>
            <button class="close-button">×</button>
        </div>
    </div>
    <div class="container">
        <div class="header__main">
            <div class="location-selector">
                <img src="../../img/flag/us-flag.png" alt="US Flag" class="flag-icon">
                <span>Washington</span>
                <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.528514 0.528514C0.788864 0.268165 1.21097 0.268165 1.47132 0.528514L4.99992 4.05711L8.52851 0.528514C8.78886 0.268165 9.21097 0.268165 9.47132 0.528514C9.73167 0.788864 9.73167 1.21097 9.47132 1.47132L5.47132 5.47132C5.21097 5.73167 4.78886 5.73167 4.52851 5.47132L0.528514 1.47132C0.268165 1.21097 0.268165 0.788864 0.528514 0.528514Z" fill="#222934"/>
                </svg>
            </div>
            <div class="header__center">
                <a href="/" class="logo">
                    <img src="../../img/logo/brand-logo/nav-brand-logo.svg" alt="">
                </a>
            </div>
    
            <div class="header__right">
                
                <div class="header__actions">
                    <button class="theme-toggle">🌙</button>
                    <button class="wishlist">❤</button>
                    <button class="account">👤</button>
                    <button class="cart">
                        🛒
                        <span class="cart-count">2</span>
                    </button>
                </div>
            </div>
        </div>
    
        <!-- Navigation -->
        <nav class="header__nav">
            <!-- Left Side -->
            <div class="header__left">
                <button class="categories-btn">
                    <span class="icon">☰</span>
                    CATEGORIES
                </button>
            </div>
            <ul class="nav-links">
                <li><a href="#" class="active">Collections</a></li>
                <li><a href="headers.html">Brands</a></li>
                <li><a href="#">Stores</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Sale</a></li>
            </ul>
            <div class="search-container">
                <input type="search" placeholder="Search" class="search-input">
                <button class="search-button">🔍</button>
            </div>
        </nav>
    </div>
</header>
